.user-delete-container {
  background-color: rgba(238, 238, 238, 1);
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-delete-box {
  text-align: center;
  margin-bottom: 30px;
}

.user-delete-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-delete-title-2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-delete-title-box {
  text-align: center;
  margin-bottom: 10px;
}

.user-delete-title-3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.user-delete-password {
  margin-bottom: 20px;
}

.user-delete-button-box {
  display: flex;
  justify-content: center;
}
