.my-page-big-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-page-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
}

.my-page-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.my-page-info-box {
  width: 48%;
  margin-bottom: 20px;
}

.my-page-info {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 5px;
}

.my-page-link {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.my-page-link-box {
  flex: 1 1 calc(50% - 10px); 
  padding: 20px;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.my-page-link-box:hover {
  background-color: #d0d0d0;
}

.my-page-delete {
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 148, 45, 0.7);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.my-page-delete:hover {
  background-color: rgba(255, 148, 45, 0.5);
}
