#top-wrapper {
    max-height: 100vh;

    display: flex;
    flex-direction: column;
    
    overflow-y: auto;
}

.top-head-box {
    height: 85px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px;

    background-color: rgba(255, 148, 45, 0.8);
}

.top-title {
    font-family: 'Ubuntu';
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.top-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    gap: 15px;
  
    font-family: 'NanumSquareRound';
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}

.top-bar-button {
    display: flex;

    font-family: 'NanumSquareRound';
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
}

.top-bar-role {
    display: flex;
    flex-direction: column;
}

.top-button:hover {
    cursor: pointer;
    color: rgba(245, 245, 245, 0.7);
}

.logout-button:hover {
    cursor: pointer;
    color: rgba(245, 245, 245, 0.7);
}

.top-container {
    width: 100%;
    height: auto;
    gap: 24px;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.main-banner {
    width: 100%;
    height: 600px;

    background-image: url('../../assets/image/main-image.jpg');
    background-size: cover;
    background-position: center;
}