#restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 40%;
  padding: 20px; /* 패딩 추가 */
  background-color: #f9f9f9; /* 배경색 추가 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  overflow-y: auto; 
}

#restaurant-info img {
  width: 300px; /* 이미지 너비 조정 */
  height: 300px; /* 이미지 높이 자동 조정 */
  border-radius: 10px;
  object-fit: cover; /* 이미지 자르기 및 확대/축소 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#restaurant-info > div {
  display: flex;
  flex-direction: row;
  align-items: center; /* 요소들을 왼쪽 정렬 */
  margin-top: 10px;
}

#restaurant-info button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 148, 45, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  width: 80px;
  height: 40px;
}

.restaurant-info-category-favorite{
  display: flex;
  flex-direction: row;
  justify-content: center
}

.restaurant-info-food-category{
  font-size: 18px;
  font-weight: bold;
  color: rgba(150, 150, 150, 1);
}

.restaurant-info-favorite-heart {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23f06292" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>');
}

.restaurant-info-favorite-non-heart{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="white" stroke="%23f06292" stroke-width="2" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>');
}


.restaurant-info-name-grade{
  display: flex;
  gap: 10px
}

.restaurant-info-grade {
  margin-top: 10px;
  font-size: 36px;
  font-family: 'Nanum Gothic';
  color: rgba(255, 100, 45, 1);
  line-height: 20px;
}


#restaurant-info button:hover {
  cursor: pointer;
  opacity: 0.85;
}

#restaurant-info > div > div:nth-child(odd) {
  font-weight: bold;
}

#restaurant-info > div > div:nth-child(3) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(3) > button {
  margin-left: auto; /* 예약 버튼을 오른쪽으로 이동 */
  margin-right: 20px; /* 오른쪽 여백 설정 */
}

#restaurant-info > div > div:nth-child(6) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(7) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(8) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(9) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(10) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(11) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(12) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(13) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(14) {
  margin-top: 10px;
}

.restaurant-info-icon {
  margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 조정 */
}

.restaurant-info-icon-box {
display: flex;
flex-direction: column; /* 세로 방향으로 요소들을 배치 */
align-items: center; /* 요소들을 가운데 정렬 */
margin-bottom: 10px;
}

.restaurant-info-icon.location {
width: 18px;
height: 18px;
margin-right: 5x;
background-image: url('../../../../assets/image/Location-icon.png');
background-size: cover;
}

.restaurant-info-icon.telnumber {
width: 23px;
height: 23px;
background-image: url(../../../../assets/image/tel.png);
background-size: cover;
}

.restaurant-info-icon.sns {
width: 16px;
height: 16px;
margin-right: 5px;
background-image: url(../../../../assets/image/sns.png);
background-size: cover;
}

.restaurant-info-icon.time {
width: 18px;
height: 18px;
background-image: url(../../../../assets/image/time.png);
background-size: cover;
}

.restaurant-info-icon.menu {
width: 20px;
height: 20px;
background-image: url(../../../../assets/image/menu.png);
background-size: cover;
}

.restaurant-info-icon.feature {
width: 18px;
height: 18px;
background-image: url(../../../../assets/image/feature.png);
background-size: cover;
}

.restaurant-info-icon.notice {
width: 25px;
height: 25px;
background-image: url(../../../../assets/image/notice.png);
background-size: cover;
}

.restaurant-info-top {
display: flex;
flex-direction: row;
gap: 10px; /* 간격 조정 */
align-items: center; /* 요소들을 가운데 정렬 */
}

.restaurant-info-name {
font-size: 36px; /* 글자 크기 조정 */
font-weight: bold;
color: #333;
}

.button-group {
  display: flex;
  gap: 10px; /* 버튼 간격 조정 */
  margin-bottom: 20px;
}




.restaurant-info-location{
  font-size: 16px; /* 글자 크기 조정 */
  font-family: 'Nanum Gothic';
  color: rgba(50, 50, 50, 1);
}

.divider{
  width: 100%;
  border-bottom: 10px solid rgba(235, 235, 235, 1);
}