#restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 60%;
  padding: 20px; 
  background-color: rgba(255, 228, 225, 0.8);
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow-y: auto;
  overflow-x: hidden;
}

#restaurant-info img {
  width: 400px; 
  height: 400px; 
  border-radius: 15px;
}

#restaurant-info button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 148, 45, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: 'Nanum Gothic';
  width: 80px;
  height: 30px;
  font-style: normal;
  font-weight: bold;
}

.restaurant-info-category-favorite{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.restaurant-info-food-category{
  font-size: 18px;
  font-weight: bold;
  color: rgba(125, 125, 125, 1);
}

.restaurant-info-favorite-heart {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23f06292" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>');
}

.restaurant-info-favorite-non-heart{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="white" stroke="%23f06292" stroke-width="2" d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>');
}


.restaurant-info-name-grade{
  display: flex;
  gap: 10px
}

.restaurant-info-grade {
  margin-top: 10px;
  font-size: 36px;
  font-family: 'Nanum Gothic';
  color: rgba(255, 100, 45, 1);
  line-height: 20px;
}


#restaurant-info button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.restaurant-info-icon {
  margin-right: 10px; 
}

.restaurant-info-icon-box {
display: flex;
flex-direction: column;
gap:10px;
width: 60%;
align-items: center;
border: 5px solid white;
border-radius: 15px; 
}

.restaurant-info-icon-package{
display: flex;
flex-direction: row;
margin-top: 10px;
}

.restaurant-info-icon.location {
width: 18px;
height: 18px;
background-image: url('../../../../assets/image/Location-icon.png');
background-size: cover;
}

.restaurant-info-icon.telnumber {
width: 23px;
height: 23px;
background-image: url(../../../../assets/image/tel.png);
background-size: cover;
}

.restaurant-info-icon.sns {
width: 16px;
height: 16px;

background-image: url(../../../../assets/image/sns.png);
background-size: cover;
}

.restaurant-info-icon.time {
width: 18px;
height: 18px;
background-image: url(../../../../assets/image/time.png);
background-size: cover;
}

.restaurant-info-icon.menu {
width: 20px;
height: 20px;
background-image: url(../../../../assets/image/menu.png);
background-size: cover;
}

.restaurant-info-icon.feature {
width: 18px;
height: 18px;
background-image: url(../../../../assets/image/feature.png);
background-size: cover;
}

.restaurant-info-icon.notice {
width: 25px;
height: 25px;
background-image: url(../../../../assets/image/notice.png);
background-size: cover;
}

.restaurant-info-imformation{
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.restaurant-info-top {
display: flex;
flex-direction: column;
align-items: center; 
margin-bottom: 40px;
gap: 10px;
}

.restaurant-info-name {
font-size: 36px; 
font-weight: bold;
color: #333;
}

.restaurant-info-button-group {
  display: flex;
  gap: 10px; 
}

.restaurant-info-icon-map{
  display: flex;
  flex-direction: row;
  gap:80px;
  margin-bottom: 40px;
}