
#restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px; /* 패딩 추가 */
  background-color: #f9f9f9; /* 배경색 추가 */
  border-radius: 10px; /* 모서리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#restaurant-info img {
  width: 100%; /* 이미지 너비 조정 */
  max-width: 600px; /* 최대 너비 설정 */
  height: auto; /* 이미지 높이 자동 조정 */
  margin-bottom: 20px;
  border-radius: 10px;
  object-fit: cover; /* 이미지 자르기 및 확대/축소 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

#restaurant-info > div {
  display: flex;
  flex-direction: row; /* 세로로 요소 배치 */
  align-items: center; /* 요소들을 왼쪽 정렬 */
  margin-top: 10px;
}

#restaurant-info > div > div {
  margin-bottom: 5px;
}

#restaurant-info button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: rgba(255, 148, 45, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

#restaurant-info button:hover {
  cursor: pointer;
  opacity: 0.85;
}

#restaurant-info > div > div:nth-child(odd) {
  font-weight: bold;
}

#restaurant-info > div > div:nth-child(3) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(3) > button {
  margin-left: auto; /* 예약 버튼을 오른쪽으로 이동 */
  margin-right: 20px; /* 오른쪽 여백 설정 */
}

#restaurant-info > div > div:nth-child(6) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(7) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(8) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(9) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(10) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(11) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(12) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(13) {
  margin-top: 10px;
}

#restaurant-info > div > div:nth-child(14) {
  margin-top: 10px;
}

#restaurant-info > div > button {
  margin-top: 10px;
}

.restaurant-info-icon {
  margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 조정 */
}

.restaurant-info-icon-box {
display: flex;
flex-direction: row;
align-items: center; /* 요소들을 가운데 정렬 */
margin-bottom: 10px;
}

.restaurant-info-icon.location {
width: 18px;
height: 18px;
margin-right: 5x;
background-image: url('../../../../assets/image/Location-icon.png');
background-size: cover;
}

.restaurant-info-icon.telnumber {
width: 23px;
height: 23px;
background-image: url(../../../../assets/image/tel.png);
background-size: cover;
}

.restaurant-info-icon.sns {
width: 16px;
height: 16px;
margin-right: 5px;
background-image: url(../../../../assets/image/sns.png);
background-size: cover;
}

.restaurant-info-icon.time {
width: 18px;
height: 18px;
background-image: url(../../../../assets/image/time.png);
background-size: cover;
}

.restaurant-info-icon.menu {
width: 20px;
height: 20px;
background-image: url(../../../../assets/image/menu.png);
background-size: cover;
}

.restaurant-info-icon.feature {
width: 18px;
height: 18px;
background-image: url(../../../../assets/image/feature.png);
background-size: cover;
}

.restaurant-info-icon.notice {
width: 25px;
height: 25px;
background-image: url(../../../../assets/image/notice.png);
background-size: cover;
}

.restaurant-info-top {
display: flex;
flex-direction: row;
gap: 10px; /* 간격 조정 */
align-items: center; /* 요소들을 가운데 정렬 */
margin-bottom: 20px;
}

.restaurant-name {
font-size: 24px; /* 글자 크기 조정 */
font-weight: bold;
color: #333;
}

.restaurant-divider {
margin-top: 10px;

font-family: 'Nanum Gothic';
font-size: 24px;
font-weight: 400;
line-height: 150%;
color: rgba(50, 50, 50, 1);
}

.restaurant-grade {
  margin-top: 10px;
  font-size: 18px;
  color: #ff9800; /* 색상 변경 */
}

.button-group {
  display: flex;
  gap: 10px; /* 버튼 간격 조정 */
  margin-bottom: 20px;
}

.restaurant-location{
  font-size: 16px; /* 글자 크기 조정 */
  color: #555;
}
