.select-item {
    flex-grow: 1;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;

    color: rgba(64, 64, 64, 1);
}

.select-list {
    position: absolute;
    left: -1px;
    top: 44px;

    display: inline-block;
    max-height: 600px;
    overflow-y: scroll;

    background-color: rgba(255, 255, 255, 1);

    -ms-overflow-style: none;
}

.select-list::-webkit-scrollbar {
    display: none;
}


.select-list-item-box {
    display: flex;

    border: 1px solid rgba(238, 238, 238, 1);
    padding: 8px 16px;
    height: 400px;
    width: 600px;

    background-color: rgba(255, 255, 255, 1);
}

.select-list-item-box:hover {
    background-color: rgba(238, 238, 238, 0.2);
    cursor: pointer;
}

.update-delete{
    display: flex;
    gap: 10px;
}


/*
더보기 누르기!!!!
*/