#review-rating {
    padding: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    margin-left : 46%;
}

.review-rating-box{
    display: flex;
    margin-top: 10px; /* 선택적으로 위쪽 간격 조정 */
    width: 100%;
}

.review-grade{
    display: flex;
    justify-content: center;
}

.review-write-contents-box{
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.review-write-contents-textarea {
    border: 1px solid rgba(200, 200, 200, 1);
    border-radius: 6px;
    outline: none;
    padding: 8px 16px;

    background-color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;
    font-family: 'Nanum Gothic';

    color: rgba(35, 45, 66, 1);

    width: 60%;
    
}

.review-registered-button-box{
    margin-left: 44%;
    margin-bottom: 5%;
}

.review-primary-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(255, 148, 45, 1);
    border-radius: 6px;
    border: 1px solid #ffffff; 

    font-family: 'Nanum Gothic';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;

    color: rgba(255, 255, 255, 1);
}

.review-primary-button:hover {
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid #ffffff;
}


.review-disable-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(138, 138, 138, 1);
    border-radius: 6px;
    border: 1px solid #ffffff;

    font-family: 'Nanum Gothic';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

    color: rgba(255, 255, 255, 1);
}



.review-write-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;

    color: rgba(64, 64, 64, 1);
}


.review-write-box{
    border: 1px solid rgba(200, 200, 200, 1);
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 5%;
}
/*
!!!수정
*/