.find-email-container {
    background-color: aqua;
}

.find-email-title {
    background-color: beige;
}

.find-email-input {
    background-color: brown;
}

.find-email-name {
    background-color: blue;
}

.find-email-tel-number {
    background-color: chartreuse;
}

.find-email-auth-number {
    background-color: deeppink;
}

.find-email-button {
    background-color: darkred;
}