#review-list-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 15px;
}

.review-list-title {
    width: 100%;

    display: flex;
    text-align: left;

    font-family: 'KCC-Hanbit';
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(50, 50, 50, 1);
}

.review-list-contents-box {
    display: flex;
    flex-direction: row;

    gap: 5px;
}

.review-list-container {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.review-content-box {
    display: flex;
    flex-direction: row;

    gap: 5px;

    font-family: 'NanumSquareRound';
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
}

.review-content-divider {
    font-size: 13px;
    color: rgba(150, 150, 150, 1);
}

.review-content.image {
    width: 200px;
    height: 200px;
}

.review-content.rating {
    color: rgba(255, 150, 30, 1);
}

.review-content {
    font-family: 'NanumSquareRound';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(100, 100, 100, 1);
}

.review-select-item.image{
    display: block;
    margin: 0 auto;
}

.review-selecton-see-more{
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 148, 45, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 80px;
    height: 30px;
    font-style: normal;
    font-weight: bold;
}

.review-selecton-see-more:hover {
    cursor: pointer;
    opacity: 0.85;
}