#restaurant-list-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.restaurant-list-side-navigation-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
  margin: 50px 0px;
}
  
.restaurant-list-search-input-click {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}
  
.restaurant-list-search-input {
  width: 300px;

  padding: 5px;

  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;
  outline: none;

  font-family: 'Nanum Gothic';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(50, 50, 50, 1);
}

.restaurant-list-regist-button {
  padding: 8px 15px;

  background-color: rgba(238, 238, 238, 1);
  border-radius: 5px;
  
  font-family: 'Nanum Gothic';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: rgba(50, 50, 50, 1);

  cursor: pointer;
}

.restaurant-list-regist-button:hover {
  background-color: rgba(255, 148, 45, 1);

  color: rgba(255, 255, 255, 1);
}

.restaurant-list-no-item {
  width: 100%;

  display: flex;
  justify-content: center;
}

.restaurant-list-select-list-item-box {
  display: flex;
  flex-direction: column;

  gap: 2px;
}

.restaurant-list-select-item {
  width: 200px;

  text-align: center;

  padding: 10px;

  border: 1px solid rgba(238, 238, 238, 1);
  border-radius: 5px;

  font-family: 'Nanum Gothic';
  font-size: 15px;
  font-weight: 400;
}

.restaurant-list-select-list-item-box {
  width: 200px;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.restaurant-list-select-list-item-box:hover {
  transform: translateY(-5px);
}

.restaurant-list-select-list-item-box img {
  width: 100%;
  height: 100px;

  object-fit: cover;
}

/* .load-more-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.1s ease;
} */