#notice-list-wrapper {
    margin: 0 auto;
    max-width: 1136px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.notice-list-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.notice-list-top-right {
    display: flex;
    align-items: center;
    gap: 12px;
}