#restaurant-wrapper {
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  
  overflow-y: auto;
  }
  
  .restaurant-head-box {
    display: flex;
    align-items: center;
  
    justify-content: space-between;
  
    padding: 10px 20px;
  
    background-color: rgba(255, 148, 45, 0.8);
  }
  
  .restaurant-icon {
    width: 40px;
    
    font-family: 'Nanum Gothic';
    font-size: 40px;
    color: rgba(255, 255, 255, 0.75);
  }
  
  .restaurant-title {
    font-family: 'Ubuntu';
    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
  }
  
  .restaurant-sign-in {
    display: flex;
  
    font-family: 'Nanum Gothic';
    font-size: 17px;
    color: rgba(255, 255, 255, 1);
  }
  
  .restaurant-sign-in:hover {
    color: rgba(245, 245, 245, 0.7);
    cursor: pointer;
  }