.reset-password-container {
    background-color: beige;
}

.reset-password-title {
    background-color: aqua;
}

.reset-password-input {
    background-color: blue;
}

.reset-password-email {
    background-color: black;
}

.reset-password-tel-number {
    background-color: darkolivegreen;
}

.reset-password-button {
    background-color: rgb(11, 206, 92);
}