#rating {
    padding: 8px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    margin-left : 48%;
}

.rating-box{
    display: flex;
    margin-top: 10px; /* 선택적으로 위쪽 간격 조정 */
    width: 100%;
}

.grade{
    display: flex;
    justify-content: center;
}