#review-list-wrapper {
    width: 1000px;
    min-width: 700px;

    display: flex;
    flex-direction: column;

    padding: 20px;
    gap: 17px;
}

.review-list-top {
    text-align: center;

    font-family: 'Nanum Gothic';
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
    color: rgba(50, 50, 50, 1);
}

.review-list-size-text {
    font-size: 16px;
    font-weight: 400;

    color: rgba(138, 146, 166, 1);
}

.review-list-table {
    width: 100%;

    display: flex;
    flex-direction: column;

    text-align: center;
    font-family: 'Nanum Gothic';
    font-size: 17px;
    font-weight: 400;
    color: rgba(50, 50, 50, 1);
}

.review-list-table-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    background-color: rgba(255, 148, 45, 0.2);
    border-radius: 6px;

    text-align: center;
}

.review-list-table-tr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    gap: 95px;
    padding: 13px 13px;

    border-top: 1px solid rgba(238, 238, 238, 1);

    text-align: center;
    font-family: 'Nanum Gothic';
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(50, 50, 50, 1);
}

.review-list-table-tr:hover{
    cursor: pointer;
    background-color: rgba(238, 238, 238, 0.2);
}

.review-list-table-restaurant-name {
    width: 70px;
}

.review-list-table-rating {
    width: 50px;
}

.review-list-table-writer-nickname {
    width: 50px;
}

.review-list-table-write-date {
    width: 50px;
}

.review-list-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review-list-pagenation{
    display: flex;
    align-items: center;

    gap:24px;
}

.review-list-page-left{
    width: 40px;
    height: 40px;

    background-image: url('../../../../../assets/image/page-left.png');
    background-size: 100% 100%;

    cursor: pointer;
}

.review-list-page-right{
    width: 40px;
    height: 40px;

    background-image: url('../../../../../assets/image/page-right.png');
    background-size: 100% 100%;

    cursor: pointer;
}

.review-list-page-box{
    display: flex;
    align-items: center;

    gap: 16px;
}

.review-list-page{
    font-family: 'Nanum Gothic';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: rgba(138, 146, 166, 1);

    cursor: pointer;
}

.review-list-page-active{
    font-family: 'Nanum Gothic';
    font-size: 14px;
    font-weight: 400;
    line-height: 150%px;
    color: rgba(50, 50, 50, 1);

    cursor: default;
}

.review-list-search-box{
    display: flex;
    align-items: center;
    gap: 12px;
}