#board-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    max-height: 100vh;
}

.board-head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 20px;

    border-bottom: 1px solid rgba(238, 238, 238, 1);
    
    background-color: rgba(255, 148, 45, 0.95);
}

.board-navigation-icon {
    text-align: center;
    width: 40px;
    height: 40px;

    font-size: 30px;

    color: rgba(255, 255, 255, 1);
}

.board-navigation-icon:hover {
    cursor: pointer;
}

.board-title {
    font-family: 'Ubuntu';
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.board-sign-in-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.board-role-visible {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.board-divider {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

.board-sign-out:hover {
    color: rgba(64, 64, 64, 0.5);
    cursor: pointer;
    opacity: 0.05;
}
