#board-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    max-height: 100vh;
}

.board-head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px 20px;

    border-bottom: 1px solid rgba(238, 238, 238, 1);
    
    background-color: rgba(255, 148, 45, 0.95);
}

.board-navigation-bar {
    text-align: center;
    width: 40px;
    height: 40px;

    font-size: 30px;

    color: rgba(255, 255, 255, 1);
}

.board-title {
    font-family: 'Ubuntu';
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.board-sign-in-box {
    display: flex;
    align-items: center; 
}

.board-admin, .board-sign-in {
    display: flex;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px; 
    margin: 5px 10px; 
}

.board-sign-in:hover {
    color: rgba(64, 64, 64, 0.5);
    cursor: pointer;
}
