#board-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    max-height: 100vh;
}

.board-head-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(238, 238, 238, 1); 
    padding: 10px 20px;
    background-color: rgba(255, 148, 45, 0.8);
}

.board-icon-image {
    width: 40px; 
    height: 40px; 
    background-size: contain; 
    margin: 5px; 
    background-image: url("../../assets/image/main-icon-bar.png");
}

.board-title {
    font-size: 40px;
    font-weight: bold;
    color: rgba(64, 64, 64, 1);
}

.board-sign-in-box {
    display: flex;
    align-items: center; 
}

.board-admin, .board-sign-in {
    display: flex;
    color: rgba(64, 64, 64, 1);
    font-size: 22px; 
    margin: 5px 10px; 
}

.board-sign-in:hover {
    color: rgba(64, 64, 64, 0.5);
    cursor: pointer;
    opacity: 0.05;
}
