.notice-detail-main-box {
    background-color: bisque;
}

.notice-detail-title {
    background-color: aqua;
}

.notice-detail-info-box {
    background-color: yellowgreen;
}

.notice-detail-mini-box {
    background-color: blueviolet;
}

.notice-detail-content {
    background-color: tomato;
}

.notice-detail-update-delete-box {
    background-color: brown;
}
