* {
    margin: 0px;
}

#notice-detail-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    overflow-x: hidden;

    background-color: rgba(245, 245, 245, 1);
}

.notice-detail-main-box {
    display: flex;
    flex-direction: column;

    min-width: 1000px;
    padding: 50px;

    gap: 20px;
}

.notice-detail-list-button {
    height: 30px;
    width: 30px;

    border-radius: 15px;

    text-align: center;
    font-size: 23px;
    font-weight: 900;

    color: rgba(235, 122, 25, 1);

    background-color: rgba(245, 138, 35, 0.2);
}

.notice-detail-list-button:hover{
    cursor: pointer;
    opacity: 0.75;
}

.notice-detail-title-box {
    display: flex;

    width: 100%;

    border-radius: 8px;

    background-color: rgba(250, 250, 250, 1);
}

.notice-detail-title {
    font-family: 'Nanum Gothic';
    font-size: 20px;
    font-weight: 600;
    line-height: 250%;

    color: rgba(64, 64, 64, 1);
}

.notice-detail-contents-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 100%;

    gap: 30px;
}

.notice-detail-info-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;

    color: rgba(64, 64, 64, 1);

    background-color: rgba(245, 245, 245, 1);
}

.notice-detail-content {
    display: flex;

    height: 300px;
    width: 100%;

    border-radius: 8px;

    font-size: 17px;
    font-weight: 400;
    color: rgba(64, 64, 64, 1);

    background-color: rgba(250, 250, 250, 1);
}

.notice-detail-button-box {
    display: flex;
    flex-direction: row;

    height: 40px;
    width: 200px;
    gap: 10px;

    text-align: center;

    background-color: rgba(245, 245, 245, 1);
}

.notice-detail-commit:hover {
    cursor: pointer;
}

.notice-detail-update:hover {
    cursor: pointer;
}