body {
    width: 100%;
    min-width: 50%;
    height: 700px;
    overflow: hidden;
}

#notice-detail-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.notice-detail-main-box {
    /* background-color: bisque; */
    height: 900px;
    padding: 50px 50px;
}

.notice-detail-contents-box {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.notice-detail-title {
    height: 50px;
    margin-top: 50px;

    border: 1px solid black;
    padding: 20px;
}

.notice-detail-info-box {
    border: 1px solid black;
}

.notice-detail-mini-box {
    display: flex;
    gap: 20px;
}

.notice-detail-writer-id {
    margin-left: 15px;
}

.notice-detail-content {
    padding: 10px;
    height: 400px;
}

.notice-detail-update-delete-box {
    display: flex;
    margin-top: 30px;
    float: right;
}

.notice-detail-update {
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 20px;
}

.notice-detail-update:hover {
    cursor: pointer;
}

.notice-detail-delete {
    border: 1px solid black;
    border-radius: 6px;
    padding: 5px 20px;
    margin-left: 30px;
}

.notice-detail-delete {
    cursor: pointer;
}
