#restaurant-info-write-update {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255, 1);
}

.restaurant-info-write-title {
    text-align: center;
    margin: 20px 0px;

    font-family: 'Nanum Gothic';
    font-size: 30px;
    font-weight: bold;
    line-height: 100%;
}

.restaurant-info-write-container {
    display: flex;
    gap: 100px;
}

.restaurant-info-write-box {
    width: 100%;

    align-items: center;
    justify-content: center;
}

.restaurant-image-box {
    display: flex;
}

.restaurant-info-write-selectbox{
    width: 100%;
    display: flex;
    justify-content: left;
    margin-left: 10px;
}

.restaurant-info-primary-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(255, 148, 45, 1);
    border-radius: 6px;
    border: 1px solid #ffffff; 

    font-family: 'Nanum Gothic';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;

    color: rgba(255, 255, 255, 1);
}

.restaurant-info-primary-button:hover {
    cursor: pointer;
    opacity: 0.85;
    border: 1px solid rgba(255, 255, 255, 1);
}

.restaurant-info-disable-button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 24px;

    background-color: rgba(138, 138, 138, 1);
    border-radius: 6px;
    border: 1px solid #ffffff;

    font-family: 'Nanum Gothic';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 175%;

    color: rgba(255, 255, 255, 1);
}

.businessRegistrationNumber-box {
    justify-content: center;
    align-items: center;
}

.businessRegistrationNumber-title {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.businessRegistrationNumber-title-input {
    display: flex;
    align-items: center;
    margin-left: 37%;

    position: relative;

    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    padding: 8px 16px;
    width: 168px;
    margin-top: 30px;

    background-color: rgba(255, 255, 255, 1);
}

.restaurant-info-registered-button-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaurant-info-write-contents{
    display: flex;
    justify-content: center; 
    font-family: 'Nanum Gothic';
    font-size: 15px;
}

.result{
    display: flex;
    justify-content: center; 
    font-family: 'Nanum Gothic';
}